*.egg-info/
*.egg
LLaMA-Factory/saves/
results/
data/cab_lite/raw_sensor_data/
data/cab_full_exp
src/data_generation/
src/data_process/
src/context_extraction/
data/cab_lite/generate_annotation
data/cab_lite/raw_sensor_data
data/cab_lite/utils
src/cab_ood/
src/motivation/
src/persona_retrieval/
src/tool_testing/
src/tool_failure/
src/wo_sensor/
src/wo_pce_wo_t/
src/tool_testing/
src/tools/api_keys.sh
scripts/sft/scoring.sh
prompt/baselines/prompt_sys_wo_t.txt
LLaMA-Factory/experiments/cab_lora_train_full_exp.sh
LLaMA-Factory/experiments/configs/cab/train_full_exp
LLaMA-Factory/experiments/configs/cab/inference_full_exp
scripts/sft/run_sft_exp_full.sh
scripts/sft/run_sft_eval_full_exp.sh
scripts/env/export_env.sh
data/cab/cab_train_sft_wo_p.json
data/cab/cab_train_sft_wo_t_wo_p.json
data/cab/cab_train_sft_wo_t.json
data/cab_lite/update_cablite.py
prompt/README.md
**.log